@import 'variables';

// Font
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans');

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: 'Sofia Sans';
    font-weight: bolder;
    letter-spacing: 0.01rem;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

//font 


// Usage example
// .button {
//     background-color: $primary-color;
//     color: white;
// }

// .alert {
//     background-color: $danger-color;
//     color: white;
// }
