@keyframes moveLeft {
    
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(-300%);
    }
  }

.animatedLetters {
  animation: moveLeft 25s linear infinite alternate;
}