.container{
   position: absolute;
   justify-content: center;
   margin-left : 500px;
   margin-top : 500px;
   background-color: red;
   text-align: center;
   user-select: none;
 }
 
 .circle_deg_0 {
   position: absolute;
   width: 100px;
    transform:  translate(230px) 
 }
 
 .circle_deg_45 {
   position: absolute;
   width: 100px;
    transform:rotate(45deg) translate(230px) rotate(-45deg);
 }
 
 .circle_deg_90 {
   position: absolute;
   width: 100px;
    transform:rotate(90deg) translate(230px) rotate(-90deg);
 }
 
 .circle_deg_135 {
   position: absolute;
   width: 100px;
   transform:rotate(135deg) translate(230px) rotate(-135deg);
 }
 
 .circle_deg_180 {
   position: absolute;
   width: 100px;
    transform:rotate(180deg) translate(230px) rotate(-180deg);
 }
 
 .circle_deg_225 {
   position: absolute;
   width: 100px;
    transform:rotate(225deg) translate(230px) rotate(-225deg);
 }
 
 .circle_deg_270 {
   position: absolute;
   width: 100px;
    transform:rotate(270deg) translate(230px) rotate(-270deg);
 }
 
 .circle_deg_315 {
   position: absolute;
   width: 100px;
    transform:rotate(315deg) translate(230px) rotate(-315deg);
 }