.container{
   position: absolute;
   justify-content: center;
   top : 40%;
   left: 50%;
   height: max-content;
   width: max-content;
   background-color: red;
   transform: translateX(-50%);
   text-align: center;
   user-select: none;
 }

 .textsend {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   margin: auto;
   bottom:15%;
 }
 
 .circle_deg_0 {
   position: absolute;
   width:  max-content;
    transform:  translate(20vh) 
 }
 
 .circle_deg_45 {
   position: absolute;
   width:  max-content;
    transform:rotate(45deg) translate(20vh) rotate(-45deg);
 }
 
 .circle_deg_90 {
   position: absolute;
   width:  max-content;
    transform:rotate(90deg) translate(20vh) rotate(-90deg);
 }
 
 .circle_deg_135 {
   position: absolute;
   width:  max-content;
   transform:rotate(135deg) translate(20vh) rotate(-135deg);
 }
 
 .circle_deg_180 {
   position: absolute;
   width:  max-content;
    transform:rotate(180deg) translate(20vh) rotate(-180deg);
 }
 
 .circle_deg_225 {
   position: absolute;
   width:  max-content;
    transform:rotate(225deg) translate(20vh) rotate(-225deg);
 }
 
 .circle_deg_270 {
   position: absolute;
   width:  max-content;
    transform:rotate(270deg) translate(20vh) rotate(-270deg);
 }
 
 .circle_deg_315 {
   position: absolute;
   width:  max-content;
    transform:rotate(315deg) translate(20vh) rotate(-315deg);
 }